*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
#retangulo1{
  width: 100%;
  height: 100px;
  background: rgba(127, 255, 212, 0.822);
  display: flex;
  justify-content: center;
  align-items: center;
}
#bola {
  width: 5vw;
  height: 5vw;
}
#retangulo1 > p{
  font-size: 25px;
}
#retangulo2{
  /* border: 2px solid black; */
  height: 1vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
#retangulo2 > p{
  padding-left: 300px;
  padding-right: 300px;
  font-size: 25px;
  font-weight: bold;
}
#retangulo3{
  /* border: 2px solid black; */
  height: 1vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
#retangulo3 > p{
  padding-left: 315px;
  padding-right: 230px;
  font-size: 25px;
}
#retangulo4 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 8%;
  top: 31%;
  width: 28vw;
  background: rgba(197, 196, 196, 0.712);
  padding: 13px;
}
#retangulo4 > ul{
  display: flex;
  flex-direction: column;
  font-size: 23px;
  line-height: 40px;
}
#equip{
  height: 1vh;
  display: flex;
  padding: 50px;
  padding-top: 300px;
  padding-left: 370px;
  font-size: 25px;
}
#retangulo5 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 8%;
  top: 70%;
  width: 28vw;
  background: rgba(197, 196, 196, 0.712);
  padding: 13px;
}
#retangulo5 > ul{
  display: flex;
  flex-direction: column;
  font-size: 23px;
  line-height: 40px;
}
#imag{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  top: 35%;
  left: 20%;
  padding-left: 500px;
}
.imagg{
  width: 20%;
  height: 20%;
}