* {
  margin: 0;
}
#caixa1 {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 0;
}
#caixa2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0;
}
#caixa3 {
  display: flex;
}
#cinza {
  width: 100vw;
  height: 10vh;
  background-color: gray;
}
#azul {
  width: 24vw;
  height: 4vh;
  background-color: aqua;
}
#rosa {
  width: 20vw;
  height: 90vh;
  background-color: pink;
}
#roxo {
  width: 80vw;
  height: 90vh;
  background-color: purple;
}
#branco {
  width: 24vw;
  height: 4vh;
  background-color: white;
}
#amarelo {
  width: 12vw;
  height: 30vh;
  background-color: antiquewhite;
}
