* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  list-style: none;
}
ul > a {
  text-decoration: none;
  float: left;
  padding: 10px;
  color: #3e3e3e;
  font-size: 13px;
}
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}
img {
  width: 50px;
  height: 50px;
}
#menu,
#menudr {
  display: none;
}
label > img {
  width: 20px;
  height: 20px;
}
nav > label > img {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
label > img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20%;
}
#menudrop {
  width: 15vw;
  height: 50vh;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  position: absolute;
  top: 6%;
  right: -15vw;
  justify-content: space-around;
  display: none;
  padding: 10px;
}
#menu:checked ~ #menudrop {
  right: 1%;
  top: 6%;
  display: flex;
}
#menudrop img {
  padding: 10px;
}
#menudrop > div {
  width: 70px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#menudrop > div:hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 255, 0.1);
  width: 70px;
  height: 80px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
#gulu {
  width: 380px;
  height: 130px;
}
main > a > input{
  width: 390px;
  height: 35px;
  font-size: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px;
  margin-top: 40px;
}
#menupages{
  display: none;
}
.pages{
  display: flex;
  padding-top: 50px;
}
.pages > a{
  text-decoration: none;
  color: #3e3e3e;
  position: relative;
  width: 90px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.pages > div{
  text-decoration: none;
  color: #3e3e3e;
  position: relative;
  width: 90px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.pages > a >div> img{
  padding: 10px;
}
.pages > div> img{
  padding: 10px;
}
.dots{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.pages > a:hover{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 90px;
  height: 100px;
}
.pages > div:hover{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 90px;
  height: 100px;
}
footer{
  position:absolute;
  bottom: 20px;
  right: 25px;
}
footer > a{
  text-decoration: none;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 30px;
  font-size: 12px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
button:hover{
  cursor: pointer;
}
button > p{
  padding-left: 15px;
}
button > img{
  width: 15px;
  height: 15px;
}