#figuras {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}
.figura {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blue;
}
.retangulo {
  width: 100vw;
  height: 10vh;
}
#figuras1 {
  display: flex;
  justify-content: space-between;
}
#figuras2 {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;  
}
#figuras3 {
  display: flex;
  justify-content: center;
}