label{
  font-size: 18px;
}
body{
  letter-spacing: 1px;
  line-height: 45px;
  width: 760px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}
h1{
  font-size: 50px;
}
legend{
  font-size: 18px;
}